.containerGrid,.finalScreen{
    background-color: #fcfcfc;
    width: 45%;
    height: 50%;
    padding: 5vw;
    padding-top: 1vw;
    padding-bottom: 0.3vw;
    border-radius: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: #55626a;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
}

.playerContainer{
    background-color: #fcfcfc;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    padding-top: 12px;
    padding-bottom: 1px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.finalScreen{
    display: flexbox;
    flex-direction: column;
}